@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/YekanBakh-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/YekanBakh-Light.woff2");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/YekanBakh-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: "YekanBakh", sans-serif;
}
body {
  background-color: #150b20;
  color: #fff;
}
.section-hero {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
@media (max-width: 900px) {
  .section-hero {
    height: fit-content;
  }
}
/* header */
.list-header li {
  list-style-type: none;
  color: #fff;
  z-index: 10;
  cursor: pointer;
}
#activ-page {
  font-weight: bold;
}
.list-header {
  display: flex;
  gap: 50px;
  background-color: rgba(255, 255, 255, 0.35);
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  border-radius: 50px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 30px;
  z-index: 10;
  border: rgba(255, 255, 255, 0.35) solid 1px;
}
@media (max-width: 900px) {
  .list-header {
    gap: 13px;
    padding: 10px 13px;
  }
  .list-header li {
    font-size: 12px;
  }
}
/* 
cicle background
*/
.circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.8;
}

.bg-orange {
  width: 50vw;
  height: 40vw;
  top: -10vh;
  left: 5%;
  background: #ff7c1d;
  animation: moveHorizontally 5s ease-in-out infinite alternate;
}

.bg-red {
  width: 40vw;
  height: 35vw;
  top: 5vh;
  right: 5%;
  background: #f53232;
  animation: moveHorizontallyReverse 4s ease-in-out infinite alternate;
}

.bg-blue-1 {
  width: 38vw;
  height: 38vw;
  bottom: -15vh;
  left: 10%;
  background: #4620cd;
  animation: moveHorizontallyReverse 3s ease-in-out infinite alternate;
}

.bg-blue-2 {
  width: 32vw;
  height: 32vw;
  bottom: -10vh;
  right: 15%;
  background: #4620cd;
  animation: moveHorizontally 6s ease-in-out infinite alternate;
}
@media (max-width: 900px) {
  .bg-blue-2 {
    width: 52vw;
    height: 52vw;
  }
  .bg-blue-1 {
    width: 52vw;
    height: 52vw;
  }
  .bg-orange {
    width: 52vw;
    height: 52vw;
  }
  .bg-red {
    width: 52vw;
    height: 52vw;
  }
}
@keyframes moveHorizontally {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(30vw);
  }
}

@keyframes moveHorizontallyReverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-30vw);
  }
}
/* 
content hero section
*/
.hero-content {
  position: relative;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;
}
@media (max-width: 900px) {
  .hero-content {
    flex-direction: column-reverse;
  }
}
/* timer */
.timer {
  display: flex;
  gap: 60px;
  text-align: center;
  padding-right: 80px;
  margin-top: 70px;
  animation: fadeInUp 2s ease forwards;
}
.time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}
.time {
  font-size: 30px;
  font-weight: bold;
}

#seconds {
  color: #ffce31;
}
.label {
  font-size: 30px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 1);
}
@media (max-width: 900px) {
  .timer {
    padding-right: 0px;
    gap: 35px;
  }
}
/* animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  85% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    transform: translateY(3px);
  }
}

/* button hero */
.buttons-hero {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}
.buttons-hero button {
  border-radius: 15px;
  padding: 10px 34px;
  font-size: 17px;
  cursor: pointer;
}
.button-1 {
  background-color: #fff;
  border: #fff solid 2px;
}
.button-1:hover {
  background-color: #ffffff00;
  color: #fff;
  border: #fff solid 2px;
  transition: 1s;
}
.button-2 {
  background-color: #ffffff00;
  color: #fff;
  border: #fff solid 2px;
}
.button-2:hover {
  background-color: #fff;
  transition: 1s;
  color: #150b20;
}
@media (max-width: 900px) {
  .buttons-hero {
    margin-top: 20px;
    flex-direction: column;
  }
  .buttons-hero button {
    width: 240px;
  }
}
.text-hero-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: fadeInRight 2s ease forwards;
}

.text-hero-container h1 {
  font-size: 54px;
}

.text-hero-container h2 {
  font-size: 20px;
}

.text-hero-container p {
  font-size: 18px;
  font-weight: lighter;
  width: 579px;
  letter-spacing: 0;
}
@media (max-width: 900px) {
  .text-hero-container {
    padding: 4px;
    justify-content: center;
    align-items: center;
  }
  .text-hero-container h1 {
    font-size: 30px;
  }
  .text-hero-container h2 {
    font-size: 12px;
  }
  .text-hero-container p {
    font-size: 11px;
    width: fit-content;
    text-align: center;
    padding: 0 13px;
  }
}
/* animation */
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  85% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-3px);
  }
}

/* seke */
.img-hero {
  position: relative;
  animation: fadeInUp 1s ease forwards;
}

.img-hero .seke-1 {
  position: absolute;
  right: 0;
  top: 50%;
}

.img-hero .seke-2 {
  position: absolute;
  left: 0;
  top: 62%;
}

@media (max-width: 900px) {
  .sabze-img {
    width: 380px;
  }
  .img-hero .seke-2 {
    width: 55px;
    height: 55px;
    top: 62%;
  }
  .img-hero .seke-1 {
    width: 70px;
    height: 70px;
    top: 54%;
  }
}
/* animation */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  85% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    transform: translateX(3px);
  }
}

/* section multi curse */

.multi-curse-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
}
.head-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.head-multi {
  font-weight: bold;
  font-size: 27px;
}
.head-multi span {
  font-weight: normal;
  color: #ffce31;
}
.course__buttons {
  display: flex;
  gap: 20px;
}
.course__button {
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  font-size: 14.5px;
  font-weight: 700;
  text-align: center;
  transition: background 0.3s;
}
.course-buttons-row {
  display: flex;
  gap: 20px;
}
.course__button-1 {
  background-color: #ffe8e8;
  color: #ab3636;
}
.course__button-2 {
  background-color: #fff3c3;
  color: #6d5f5f;
}
.course__button-3 {
  background-color: #e8ffe8;
  color: #40ca85;
}
.course__button-4 {
  background-color: #fff7e4;
  color: #aaa637;
}
.course__button-5 {
  background-color: #ffe4f7;
  color: #aaa637;
}
.course__button-6 {
  background-color: #e8f4ff;
  color: #3867bd;
}

.multi-image-price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.price-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  animation: fadeInLeft 2s ease forwards;
}
.price-container .multi-name {
  color: #ffce31;
  font-weight: bold;
  font-size: 50px;
}
.price-original {
  color: #ff0f0f;
  text-decoration: line-through;
  text-decoration-color: white;
  font-size: 25px;
  font-weight: bold;
}

.price-discounted {
  color: #22b45c;
  font-size: 25px;
  font-weight: bold;
}
.price-container button {
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  background-color: #ffffff00;
  border: #fff solid 2px;
}
.price-container button:hover {
  background-color: #fff;
  transition: 1s;
  color: #150b20;
}
.img-container {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 25px;
  transition: border-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  animation: fadeInRight 2s ease forwards;
}

.img-container:hover {
  border-image-source: linear-gradient(
    135.6deg,
    rgba(255, 255, 255, 0.1) 0.54%,
    rgba(255, 255, 255, 0.5) 100.51%
  );
  border-image-slice: 1;
  border-color: rgba(255, 255, 255, 0.5);
  transition-delay: 0.3s;
  -webkit-mask-image: none;
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
}

.img-container .curse-img {
  position: relative;
  z-index: 10;
  width: 500px;
  height: 500px;
}
.circle-multi {
  position: absolute;
  border-radius: 80%;
  filter: blur(120px);
  opacity: 0.8;
}
.bg-green {
  width: 80%;
  height: 70%;
  top: 10%;
  left: 10%;
  background: #23c156;
}
.img-container .money-img {
  position: absolute;
  left: 15%;
  top: 5%;
  width: 130px;
}
.img-container .money-img1 {
  position: absolute;
  left: 15%;
  top: 16%;
  width: 120px;
  opacity: 0;
  transform: scale(0.5);
}
.img-container .money-img2 {
  position: absolute;
  left: 21%;
  top: 28%;
  width: 100px;
  opacity: 0;
  transform: scale(0.5);
}
.img-container:hover .money-img1 {
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: 0.3s;
}

.img-container:hover .money-img2 {
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: 0.6s;
}
.multi-ani {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .head-container {
    text-align: center;
    align-items: center;
    padding: 0 10px;
  }
  .head-container .p-multi {
    font-size: 15px;
  }
  .head-multi {
    font-size: 28px;
  }
  .course__buttons {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }
  .course-buttons-row {
    gap: 10px;
  }
  .course__button {
    padding: 4px 5px;
    font-size: 10px;
  }
  .multi-image-price-container {
    flex-direction: column;
  }

  .img-container {
    order: -1;
    width: 100%;
    max-width: 400px;
    height: 350px;
  }
  .img-container .curse-img {
    width: 300px;
    height: 300px;
    margin-right: 50px;
  }
  .img-container .money-img {
    width: 80px;
  }
  .img-container .money-img1 {
    width: 70px;
    top: 13%;
  }
  .img-container .money-img2 {
    width: 50px;
    top: 20%;
  }
}
/* course container cart */
.course-section {
  justify-content: center;
  padding: 20px 20px;
  position: relative;
}
.circle-course {
  width: 50vw;
  height: 40vw;
  top: 0;
  right: -20%;
  background: #ff7c1d;
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.8;
}
@media (max-width: 768px) {
  .circle-course {
    width: 50vh;
    height: 80vw;
  }
}

.course-section-title {
  text-align: center;
  font-size: 35px;
  margin: 30px 0;
  position: relative;
  z-index: 10;
}
@media (max-width: 768px) {
  .course-section-title {
    font-size: 20px;
  }
}
.cart-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  justify-content: center;
  position: relative;
  z-index: 10;
}
.course-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #21123159;
  gap: 20px;
}
.course-cart:hover {
  border: #e8ffe851 solid 1px;
}
.cart-img-container {
  background-color: #4620cd33;
  width: 100%;
  height: 240px;
  border-radius: 18px;
}
.cart-img {
  width: auto;
  height: 240px;
  margin-right: 60px;
}
.cart-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart-title {
  font-weight: bold;
  font-size: 22px;
}
.cart-price-sec {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
@media (max-width: 768px) {
  .cart-price-sec {
    gap: 40px;
  }
}
.price-original-course {
  color: #ff0f0f;
  text-decoration: line-through;
  text-decoration-color: white;
  font-weight: bold;
}
.price-discounted-course {
  color: #22b45c;
  font-weight: bold;
}
@media (max-width: 768px) {
  .price-original-course {
    font-size: 14px;
  }
  .price-discounted-course {
    font-size: 14px;
  }
}
.cart-button {
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  background-color: #ffffff00;
  border: #fff solid 2px;
}
.cart-button:hover {
  background-color: #fff;
  transition: 1s;
  color: #150b20;
}
@media (max-width: 768px) {
  .cart-button {
    padding: 10px 12px;
    font-size: 12px;
  }
}
