@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/YekanBakh-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/YekanBakh-Light.woff2");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/YekanBakh-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: "YekanBakh", sans-serif;
}
body {
  background-color: #150b20;
  color: #fff;
}
.section-hero {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
@media (max-width: 900px) {
  .section-hero {
    height: fit-content;
  }
}
/* header */
.list-header li {
  list-style-type: none;
  color: #fff;
  z-index: 10;
  cursor: pointer;
}
#activ-page {
  font-weight: bold;
}
.list-header {
  display: flex;
  gap: 50px;
  background-color: rgba(255, 255, 255, 0.35);
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  border-radius: 50px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 30px;
  z-index: 10;
  border: rgba(255, 255, 255, 0.35) solid 1px;
}
@media (max-width: 900px) {
  .list-header {
    gap: 13px;
    padding: 10px 13px;
  }
  .list-header li {
    font-size: 12px;
  }
}
/* 
cicle background
*/
.circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.8;
}

.bg-orange {
  width: 50vw;
  height: 40vw;
  top: -10vh;
  left: 5%;
  background: #ff7c1d;
  animation: moveHorizontally 5s ease-in-out infinite alternate;
}

.bg-red {
  width: 40vw;
  height: 35vw;
  top: 5vh;
  right: 5%;
  background: #f53232;
  animation: moveHorizontallyReverse 4s ease-in-out infinite alternate;
}

.bg-blue-1 {
  width: 38vw;
  height: 38vw;
  bottom: -15vh;
  left: 10%;
  background: #4620cd;
  animation: moveHorizontallyReverse 3s ease-in-out infinite alternate;
}

.bg-blue-2 {
  width: 32vw;
  height: 32vw;
  bottom: -10vh;
  right: 15%;
  background: #4620cd;
  animation: moveHorizontally 6s ease-in-out infinite alternate;
}
@media (max-width: 900px) {
  .bg-blue-2 {
    width: 52vw;
    height: 52vw;
  }
  .bg-blue-1 {
    width: 52vw;
    height: 52vw;
  }
  .bg-orange {
    width: 52vw;
    height: 52vw;
  }
  .bg-red {
    width: 52vw;
    height: 52vw;
  }
}
@keyframes moveHorizontally {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(30vw);
  }
}

@keyframes moveHorizontallyReverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-30vw);
  }
}
/* 
content hero section
*/
.hero-content {
  position: relative;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;
}
@media (max-width: 900px) {
  .hero-content {
    flex-direction: column-reverse;
  }
}
/* timer */
.timer {
  display: flex;
  gap: 60px;
  text-align: center;
  padding-right: 80px;
  margin-top: 70px;
  animation: fadeInUp 2s ease forwards;
}
.time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}
.time {
  font-size: 30px;
  font-weight: bold;
}

#seconds {
  color: #ffce31;
}
.label {
  font-size: 30px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 1);
}
@media (max-width: 900px) {
  .timer {
    padding-right: 0px;
    gap: 35px;
  }
}
/* animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* button hero */
.buttons-hero {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}
.buttons-hero button {
  border-radius: 15px;
  padding: 10px 34px;
  font-size: 17px;
  cursor: pointer;
}
.button-1 {
  background-color: #fff;
  border: #fff solid 2px;
}
.button-1:hover {
  background-color: #ffffff00;
  color: #fff;
  border: #fff solid 2px;
  transition: 1s;
}
.button-2 {
  background-color: #ffffff00;
  color: #fff;
  border: #fff solid 2px;
}
.button-2:hover {
  background-color: #fff;
  transition: 1s;
  color: #150b20;
}
@media (max-width: 900px) {
  .buttons-hero {
    margin-top: 20px;
    flex-direction: column;
  }
  .buttons-hero button {
    width: 240px;
  }
}
.text-hero-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: fadeInRight 2s ease forwards;
}

.text-hero-container h1 {
  font-size: 54px;
}

.text-hero-container h2 {
  font-size: 20px;
}

.text-hero-container p {
  font-size: 18px;
  font-weight: lighter;
  width: 579px;
  letter-spacing: 0;
}
@media (max-width: 900px) {
  .text-hero-container {
    padding: 4px;
    justify-content: center;
    align-items: center;
  }
  .text-hero-container h1 {
    font-size: 30px;
  }
  .text-hero-container h2 {
    font-size: 12px;
  }
  .text-hero-container p {
    font-size: 11px;
    width: fit-content;
    text-align: center;
    padding: 0 13px;
  }
}
/* animation */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* seke */
.img-hero {
  position: relative;
  animation: fadeInLeft 2s ease forwards;
}

.img-hero .seke-1 {
  position: absolute;
  right: 0;
  top: 50%;
}

.img-hero .seke-2 {
  position: absolute;
  left: 0;
  top: 62%;
}

@media (max-width: 900px) {
  .sabze-img {
    width: 380px;
  }
  .img-hero .seke-2 {
    width: 55px;
    height: 55px;
    top: 62%;
  }
  .img-hero .seke-1 {
    width: 70px;
    height: 70px;
    top: 54%;
  }
}
/* animation */

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
